	{{#if venues}}
		{{> _results}}
	{{else}}
	<div class="search-results-header">
		<a href='/' class='pull-left'>
			<strong>&lArr;Back</strong>
		</a>
		<h3>No results for {{location}}, please try again.</h3>
	</div>	
	<div class="overlay overlay-error"></div>
	<img class="error" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Tumbleweed_rolling.jpg">		
	{{/if}}
